
Gen_4/2.xlsx
/Gen_4/db
/Gen_4/out
tg_bot/config/t.py
/Gen_5/db
/Gen_5/temple
/Gen_4/temple
/Gen_5/out
/Gen_5/dist/out
/Gen_5/db_2
/Gen_5/dist
/Gen_6/build
/Gen_6/db
/Gen_6/out
/Gen_6/temple
/Gen_6/tdt

Gen_1rep/res/28.xlsx
Gen_1rep/res/29.xlsx
Gen_1rep/res/30.xlsx
Gen_1rep/Саларьево.jpg
/Gen_6/DCIM
/Gen_2rep/rep
/Gen_2rep/res
Gen_2rep/Саларьево.jpg
experiments/cleaned_data.xlsx
experiments/document.pdf
/Gen_6/dist
Gen_6/LPI.exe
*.jpg
*.xlsx
*.docx
*.png
/Gen_7/build
/Gen_7/tdt
/Gen_8/build
/Gen_8/dist
/Gen_8/DCIM
/Gen_7/DCIM
*.xls
*.pptx
*.jpeg
*.pdf
Gen_8/service/tg.py
Gen_8/service/tg.py
/Gen_8/tdt
Gen_8/service/tg.py
Gen_8/service/email.py
/Gen_7/dist
*.exe
/expp
/expp
/Gen_8/service/__pycache__
/Gen_8/service/__pycache__
/Gen_9/__pycache__
/Gen_9/service/__pycache__
*.txt
